<h1>УЧЕБНЫЙ ЦЕНТР KARL STORTZ ENDOSCOPE</h1>
<div class="row">
  <div class="col-md-8">

    <p>При создании Учебного центра компания KARL STORZ опиралась на несколько основных принципов, которые стали определяющими в его дальнейшей работе.</p>
    <ul> <li> <div style="text-align: left;"><strong>Забота</strong> <strong>о</strong> <strong>пациенте </strong>Сегодня технологии Karl Storz позволяют оказывать квалифицированную медицинскую помощь пациентам с самыми сложными диагнозами, а также диагностировать заболевания на самых ранних этапах. В настоящее время появилась возможность учитывать все индивидуальные особенности пациента и проводить хирургические вмешательства с минимальным вредом и последствиями.</div></li> </ul> <ul style="text-align: left;"> <li> <div> <strong>Внимание к хирургам</strong> Технологический прогресс должен идти рука об руку с полноценным и качественным обучением. Компания Karl Storz стремится обеспечить доступность новейших технологий всем докторам и помогает хирургам достигать наилучших результатов в их работе.</div></li> </ul> <ul style="text-align: left;"> <li> <div> <strong>Знания</strong> Для компании Karl Storz важно, чтобы и опытные хирурги, и их младшие коллеги, и медсестры обладали знаниями, которые позволили бы им работать с новым оборудованием и технологиями лечения. Учебный центр – именно то место, где весь медицинский персонал может получить знания, обменяться опытом, открыть для себя что-то новое.</div></li> </ul> <ul style="text-align: left;"> <li> <div> <strong>Качество </strong><strong> </strong>Компания Karl Storz стремится поддерживать самый высокий уровень качества продукции, которую предлагает своим клиентам – так называемый Diamond <span lang="EN-US">standard</span>.</div></li> </ul> <ul style="text-align: left;"> <li> <div> <strong>Инновации </strong><strong> </strong>Постоянное развитие технологий и услуг</div></li> </ul> <ul style="text-align: left;"> <li> <div> <strong>Этика </strong>Честность и уважение ко всем</div></li> </ul>







  </div>
  <div class="col-md-4">
    <img src="img/xhttp_res.jpeg" alt="endoscope" width="350" height="540" />


  </div>
</div>