<h1>Курсы и специализации</h1>
<div class="row">
  <div class="col-md-12">
<p style="text-align: justify;">Курсы и специализации
<strong> Программы для практикующих врачей</strong></p>
<p style="text-align: justify;">В зависимости от своей специализации, доктора могут выбрать интересующий их курс из широкого перечня программ. Программа большинства курсов включает как теорию (лекции, семинарские занятия с разбором транслируемых операций, презентации по продукту и технологиям), так и практическую отработку на тренажере с использованием реальных инструментов и аппаратов. Обучение ведется как для молодых специалистов (базовые курсы), так и для опытных хирургов (продвинутые курсы).</p>

<ul style="text-align: justify;">
<li><strong>Лапароскопия</strong></li>
<li><strong>Гинекология</strong></li>
<li><strong>Урология</strong></li>
<li><strong>Проктология</strong></li>
<li><strong>Оториноларингология</strong></li>
<li><strong>Челюстно-лицевая хирургия</strong></li>
<li><strong>Пластическая хирургия</strong></li>
<li><strong>Нейроэндоскопия и спинальная хирургия</strong></li>
<li><strong>Кардиология</strong></li>
<li><strong>Анестезиология</strong></li>
<li><strong>Артроскопия</strong></li>
<li><strong>Гастроэнтерология</strong></li>
</ul>
<p style="text-align: justify;"><strong> </strong></p>
<p style="text-align: justify;"><strong> Программы для практикующих ветеринарных врачей</strong></p>
<p style="text-align: justify;">Ветеринарная Эндоскопическая Школа ВЭШК™ KARL STORZ <a href="http://www.vesk-vet.com/">www.vesk-vet.com</a>  предлагает 11 модулей для начинающих и продвинутых специалистов. Все модули двухдневные. Первый день – лекционно – практический в тренинг – центре KARL STORZ включает лекции и hands-on тренинги на эндотренажерах. Второй день – практический в клиниках – партнерах включает отработку эндоскопических навыков на экспериментальных животных и кадаврах. Доктора, прошедшие обучение по программе этих модулей, имеют возможность принять участие  в 72 часовом практическом интенсивном курсе в референц клинике KARL STORZ Эндовет в г. Кургане <a href="http://www.endovet.ru/">www.endovet.ru</a></p>

<ul style="text-align: justify;">
<li><strong>Ветеринарная эндоскопия - с чего начать. Экономические, медицинские, технические аспекты проекта внедрения (семинар, 1 день)</strong></li>
<li><strong>Жесткая эндоскопия носа, ушей и верхних дыхательных путей кошек и собак</strong></li>
<li><strong>Гибкая эндоскопия ЖКТ и дыхательных путей кошек и собак</strong></li>
<li><strong>Различные методики извлечения инородных тел (чрезпросветные и эндохирургические)</strong></li>
<li><strong>Введение в эндоурологию кошек и собак</strong></li>
<li><strong>Эндоскопические и эндоассистированные кастрации женских особей кошек и собак (SPAY эндохирургия)</strong></li>
<li><strong>Продвинутая лапароскопия</strong></li>
<li><strong>Вводный курс торакоскопии кошек и собак</strong></li>
<li><strong>Базовая артроскопия крупных суставов у собак</strong></li>
<li><strong>Анестезиологический практикум при эндоскопиях</strong></li>
<li><strong>Эндоскопия экзотов</strong><strong> </strong></li>
</ul>
<p style="text-align: justify;"><strong> Курсы лекций с практическими занятиями для операционных сестер</strong></p>
<p style="text-align: justify;">Во время данных курсов медицинские сестры научатся, как правильно ухаживать за инструментами и оборудованием в эндоскопии, познакомятся с современными дезинфицирующими средствами и методами стерилизации, освоят основы безопасности в эндоскопической операционной.</p>
<p style="text-align: justify;"><strong> Общие тренинги по продукции для партнеров</strong>В ходе данных тренингов партнеры KARL STORZ знакомятся с самыми последними разработками компании. Преимущество таких семинаров состоит в том, что помимо теоретической презентационной части у слушателей есть возможность увидеть новинки вживую и задать специалистам компании все интересующие вопросы.</p>
&nbsp;
</div>
</div>