<h1>Оснащение</h1>

<div class="row">
  <div class="col-md-12">
<p>
Оснащение

Учебный центр KARL STORZ спланирован и оснащен самым современным оборудованием, что позволяет проводить мероприятия на высочайшем уровне.
Внутреннее оснащение Учебного центра KARL STORZ включает:</p>
<ul>
<li>Современная интегрированная операционная OR1™, выполненная с применением новейших медицинских и строительных технологий</li>
<li>4 трансформируемых рабочих места для практических занятий на тренажерах</li>
<li>Инструменты и тренажеры по всем эндоскопическим направлениям</li>
<li>Конференц-зал на 60 мест, оборудованный системой телемедицины</li>
<li>ВИП-зона</li>
<li>Кафетерий</li>
<li>Демонстрационный зал</li>
</ul>
&nbsp;

<strong>Рабочие места и инструменты</strong>

Тщательно продуманные рабочие места позволяют врачам отработать навыки эндоскопических манипуляций на специальных тренажерах, полностью воссоздающих ход реальной операции, без угрозы для пациента и с возможностью многократного повторения процедуры.

Все рабочие места оснащены мобильными видеосистемами TELEPACK,
тренажерами, необходимым набором инструментов и оптик, а также муляжами
костей и органов и
сшивающими материалами.
Обучение ведется на реальных инструментах и аппаратах KARL STORZ.

<strong>
Современная интегрированная операционная </strong><strong>OR1™</strong>

У посетителей Учебного центра KARL STORZ есть уникальная возможность поближе познакомиться с современной интегрированной операционной OR1™.

OR1™ позволяет эффективно управлять аппаратами, находящимися в операционной, архивировать и передавать на расстояние данные о пациентах, а также осуществлять телекоммуникацию, видео и аудио связь с внешними источниками.
<strong>Конференц-зал</strong>

Просторный конференц-зал на 60 мест с возможностью телетрансляций живых операций
<strong>Кафетерий</strong>

Во время перерыва участники тренинга могут передохнуть и пообщаться за чашкой кофе
<strong> </strong><strong>Демонстрационный зал</strong>

<strong> </strong>

Демонстрационный зал с образцами всех инструментов
<strong>
</strong><strong>ВИП-зона</strong>Комфортная зона для отдыха и деловых переговоров, откуда посетители Учебного центра могут наблюдать интегрированную операционную OR1™
  </div>
  
</div>