<h1>Формы обучения</h1>

<div class="row">
  <div class="col-xs-12 col-md-12">


  <strong>Лекции и презентации</strong>

  Теоретическая часть курсов включает в себя как лекции по новым методикам с разбором клинических случаев, так и презентации по продуктам.

  <strong>Отработка навыков на тренажерах</strong>

  Теоретическая часть дополняется практическими занятиями на тренажерах, что позволяет отработать навыки обращения с инструментами в условиях, приближенных к реальным — понять алгоритм выполнения процедуры, принцип выбора устройств и техники их применения, научиться ориентироваться в пространстве.

  Обучение ведется на муляжах костей и органов с использованием реального инструментария.

  <strong>Телетрансляции живых операций</strong>

  Техническое оснащение УЦ позволяет включать в учебный процесс телетрансляции уникальных показательных операций из ведущих российских и зарубежных клиник, организовывать телемосты с крупнейшими представителями мировой хирургии.

  Все это значительно расширяет кругозор докторов, дает возможность живого общения с экспертами, помогает сориентироваться в разнообразии как новых хирургических методик, так и эндоскопического оборудования.

  Для проведения курсов Учебный центр KARL STORZ привлекает ведущих зарубежных и российских специалистов.
  
  </div>
 
 
</div>
