<h1>Партнёры</h1>
<div class="main-box-body clearfix">
										<div class="table-responsive">
											<table class="table">
												
												<tbody><tr>
													<td><a href="http://endotraining.ru/karlstorz/view_doc.html?doc_id=5894404249623754350"><img src="http://endotraining.ru/xhttp_res?doc_url=x-local://wt_data/objects/51CD216F656076/6D.xml&amp;elem_path=document.text_area&amp;res_id=18675.html" alt="koleno21" width="219" height="52" /></a></td>
													
										<td><a href="http://endotraining.ru/karlstorz/view_doc.html?doc_id=5894404249623754352"><img src="http://endotraining.ru/xhttp_res?doc_url=x-local://wt_data/objects/51CD216F656076/6D.xml&amp;elem_path=document.text_area&amp;res_id=68019.html" alt="sportklinika" width="270" height="64" /></a></td>
										
										<td><a href="http://endotraining.ru/karlstorz/view_doc.html?doc_id=5934844553482338991"><img src="http://endotraining.ru/xhttp_res?doc_url=x-local://wt_data/objects/51CD216F656076/6D.xml&amp;elem_path=document.text_area&amp;res_id=13362.jpg" alt="3" width="243" height="77" /></a></td></tr>
										<tr>
											
											<td><a href="http://endotraining.ru/karlstorz/view_doc.html?doc_id=5949051957211197553"><img src="http://endotraining.ru/xhttp_res?doc_url=x-local://wt_data/objects/51CD216F656076/6D.xml&amp;elem_path=document.text_area&amp;res_id=69023.html" alt="" width="234" height="130" /></a></td>
											
											<td>           <a href="http://www.medplan.ch/%D1%80%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9/"><img src="http://endotraining.ru/xhttp_res?doc_url=x-local://wt_data/objects/51CD216F656076/6D.xml&amp;elem_path=document.text_area&amp;res_id=61492.jpg" alt="medplan" width="265" height="56" /></a></td>
											
											<td>      <a href="http://www.endotraining.ru/karlstorz/view_doc.html?doc_id=5999418208738566762"><img src="http://endotraining.ru/xhttp_res?doc_url=x-local://wt_data/objects/51CD216F656076/6D.xml&amp;elem_path=document.text_area&amp;res_id=52174.html" alt="12" width="235" height="95" /></a></td>
										</tr>
										<tr>
											
											<td> <a href="http://endotraining.ru/karlstorz/view_doc.html?doc_id=6026220535986931089"><img src="http://endotraining.ru/xhttp_res?doc_url=x-local://wt_data/objects/51CD216F656076/6D.xml&amp;elem_path=document.text_area&amp;res_id=86556.html" alt="31" width="205" height="170" /></a></td>
											
											<td>                          <a href="http://amtec-kazan.com/courses/learning-reply"><img src="http://endotraining.ru/xhttp_res?doc_url=x-local://wt_data/objects/51CD216F656076/6D.xml&amp;elem_path=document.text_area&amp;res_id=82061.jpg" alt="Kazan" width="329" height="79" /></a></td>
											
											<td>  <a href="http://endotraining.ru/karlstorz/view_doc.html?doc_id=6030999194851043145"><img src="http://endotraining.ru/xhttp_res?doc_url=x-local://wt_data/objects/51CD216F656076/6D.xml&amp;elem_path=document.text_area&amp;res_id=95836.html" alt="12" width="354" height="105" /></a></td>
										</tr>
									</tbody>
											</table>
										</div>
									</div>