<h1>Санкт-Петербург</h1>
<div class="row">
  <div class="col-md-12">
	  Филиал Учебного центра в Санкт-Петербурге

	  Осенью 2013 года в Санкт-Петербурге открылся региональный офис компании KARL STORZ. На базе офиса функционируют сервисная служба и логистический центр, призванный обеспечивать клиники информационными материалами и оборудованием для проведения апробаций новой техники. В 2014 году на базе офиса запланированы семинары для медицинских сестер, а также мастер-классы для врачей различных специальностей.

	  Приглашаем Вас и Ваших коллег посетить наш новый офис, принять участие в уникальных мероприятиях Учебного центра, получить информацию по продукции нашей компании, а также решить вопросы, связанные с сервисным обслуживанием изделий компании KARL STORZ.
	  
  </div>
</div>
