
	   <div class="row">
						
				<div class="col-xs-12 col-sm-8 col-md-12">
		 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" height="300px">
		   <!-- Indicators -->
		   <ol class="carousel-indicators">
		     <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		     <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		     <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		   </ol>

		   <!-- Wrapper for slides -->
		   <div class="carousel-inner" role="listbox">
		     <div class="item active">
		       <img src="img/fon2.jpg" alt="...">
		       <div class="carousel-caption">
		         ...
		       </div>
		     </div>
		     <div class="item">
		       <img src="img/fon3.jpg" alt="...">
		       <div class="carousel-caption">
		         ...
		       </div>
		     </div>
		     ...
		   </div>

		   <!-- Controls -->
		   <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		     <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		     <span class="sr-only">Назад</span>
		   </a>
		   <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		     <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		     <span class="sr-only">Вперед</span>
		   </a>
		 </div>
	
	 </div>
		</div>
		 
		 
		 <br>
		 
		 
		   <div class="row">
							
					<div class="col-md-8">	
						
						<div class="main-box">

												<div class="container">
					
										
											
												<h3>Добро пожаловать в учебный центр <span class="color">KarlStorz - endoskope</span>.</h3>
												<p>Сегодня технологии Karl Storz позволяют оказывать квалифицированную медицинскую помощь пациентам с самыми сложными диагнозами,<br> а также диагностировать заболевания на самых ранних этапах. В настоящее время появилась возможность учитывать все индивидуальные особенности пациента и проводить хирургические вмешательства с минимальным вредом и последствиями. </p>
											</div>	
											
										</div>
									</div>
						
							<div class="row">
							<div class="col-lg-4 col-sm-6 col-xs-12">
								<div class="main-box infographic-box">
									<i class="fa fa-eye gray-bg"></i>
									<span class="headline">Пройденно курсов</span>
									<span class="value">3</span>
								</div>
								
					
							
								<div class="main-box infographic-box">
									<i class="fa fa-mortar-board emerald-bg"></i>
									<span class="headline">Курсы для Вас</span>
									<span class="value">17</span>
								</div>
								
								
									<div class="main-box clearfix">
															    <header class="main-box-header clearfix">
															     <center> <h2>Новости</h2></center>
															    </header>
															    <div class="main-box-body clearfix">
															    <div class="well">
													<u>	<center>	11.08.2014  </center>
													12 декабря 2014 г.,	Учебный центр KARL STORZ в г. Санкт-Петербург, Курс для операционнных сестер...</u>
					
					
														</div>
														<div class="well">
													<u>	<center>	11.08.2014</center>
									14 нобря 2014 г., Учебный центр KARL STORZ в г. Санкт-Петербург, Курс для операционнных сестер по ...</u>
														</div>
														<div class="well">
													<u>	<center>	11.08.2014</center>
									10 октября 2014 г., Учебный центр KARL STORZ в г. Санкт-Петербург, Курс для операционнных сестер ...</u>
														</div>
															    <center>          <button type="button" class="btn btn-primary btn-lg">
																						<span class="fa fa-bullhorn"></span> Все новости
																					</button></center>
															    </div>
															    
															  
									
							</div>
						</div>
		
                   </div>
				   
          </div>
