html, body {
    color: #666666;
    font-size: 13px;
    line-height: 28px;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body {
	color: #344644;
	background: #E8EBF2;
}
h1, h2, h3, h4, h5, h6 {	
    font-family: 'Open Sans', 'Titillium Web', Geneva, sans-serif;
    font-weight: 300;
}
h1 {
	clear: both;
    color: #074089;/* 505458 */
    margin: 0 0 20px 0;
    padding-left: 14px;
    font-size: 2em;
}
h2 {
	clear: both;
    font-size: 1.8em;
    margin-bottom: 10px;
    padding: 10px 0 10px 30px;
}
h3 {
	border-bottom: 1px solid #C2C2C2;
	padding-left: 5px;
	margin-bottom: 15px;
	margin-top: 30px;
	font-size: 1.4em;
}
h3 > span {
	border-bottom: 2px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px 5px;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}

a {
	color: #3498db;
	outline: none !important;
}
a:hover,
a:focus {
	color: #3498db;
}
@media (max-width: 420px) {
	html,body {
		font-size: 12px;
	}
}

.container {
	padding-left: 8px;
	padding-right: 8px;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.col-xs-1, 
.col-sm-1, 
.col-md-1, 
.col-lg-1, 
.col-xs-2, 
.col-sm-2, 
.col-md-2, 
.col-lg-2, 
.col-xs-3, 
.col-sm-3, 
.col-md-3, 
.col-lg-3, 
.col-xs-4, 
.col-sm-4, 
.col-md-4, 
.col-lg-4, 
.col-xs-5, 
.col-sm-5, 
.col-md-5, 
.col-lg-5, 
.col-xs-6, 
.col-sm-6, 
.col-md-6, 
.col-lg-6, 
.col-xs-7, 
.col-sm-7, 
.col-md-7, 
.col-lg-7, 
.col-xs-8, 
.col-sm-8, 
.col-md-8, 
.col-lg-8, 
.col-xs-9, 
.col-sm-9, 
.col-md-9, 
.col-lg-9, 
.col-xs-10, 
.col-sm-10, 
.col-md-10, 
.col-lg-10, 
.col-xs-11, 
.col-sm-11, 
.col-md-11, 
.col-lg-11, 
.col-xs-12, 
.col-sm-12, 
.col-md-12, 
.col-lg-12 {
	padding-left: 8px;
	padding-right: 8px;
}
@media (max-width: 767px) {
	.container {
		padding-left: 5px;
		padding-right: 5px;
	}
	.row {
	    margin-left: -5px;
	    margin-right: -5px;
	}
	
	.col-xs-1, 
	.col-sm-1, 
	.col-md-1, 
	.col-lg-1, 
	.col-xs-2, 
	.col-sm-2, 
	.col-md-2, 
	.col-lg-2, 
	.col-xs-3, 
	.col-sm-3, 
	.col-md-3, 
	.col-lg-3, 
	.col-xs-4, 
	.col-sm-4, 
	.col-md-4, 
	.col-lg-4, 
	.col-xs-5, 
	.col-sm-5, 
	.col-md-5, 
	.col-lg-5, 
	.col-xs-6, 
	.col-sm-6, 
	.col-md-6, 
	.col-lg-6, 
	.col-xs-7, 
	.col-sm-7, 
	.col-md-7, 
	.col-lg-7, 
	.col-xs-8, 
	.col-sm-8, 
	.col-md-8, 
	.col-lg-8, 
	.col-xs-9, 
	.col-sm-9, 
	.col-md-9, 
	.col-lg-9, 
	.col-xs-10, 
	.col-sm-10, 
	.col-md-10, 
	.col-lg-10, 
	.col-xs-11, 
	.col-sm-11, 
	.col-md-11, 
	.col-lg-11, 
	.col-xs-12, 
	.col-sm-12, 
	.col-md-12, 
	.col-lg-12 {
		padding-left: 5px;
		padding-right: 5px;
	}	
}

/* new xxs layout for extra small devices */
@media (max-width: 420px) {
	h1 {
		padding-left: 5px;
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.5em;
	}
	.hidden-xxs {
		display: none !important;
	}
	tr.hidden-xxs {
		display: table-row !important;
	}
	
	th.hidden-xxs,
	td.hidden-xxs {
		display: table-cell !important;
	}
	
	.visible-xxs {
		display: block !important;
	}
	tr.visible-xxs {
		display: none !important;
	}
	
	th.visible-xxs,
	td.visible-xxs {
		display: none !important;
	}
	.breadcrumb {
		padding-left: 6px;
	}
}


blockquote,
blockquote.pull-right {
	border-color: #3498db;
	padding: 10px 20px 10px 40px;
}
blockquote.pull-right {
	padding-left: 20px;
	padding-right: 40px;
}
blockquote p {
	font-style: italic;
}
blockquote:before {
	content: "\f10d";
	color: #C2C2C2;
    display: inline;
    font-family: FontAwesome;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    height: auto;
    line-height: normal;
    margin-left: -28px;
    margin-top: 0;
    position: absolute;
    width: auto;
}
blockquote.pull-right:before {
	margin-left: 0;
    right: 50px;
}

.container {
	margin: 0;
	max-width: 1920px;
	width: 100%;
}
.navbar-toggle {
    border: medium none;
    font-size: 1.4em;
    height: 50px;
    margin: 0;
    text-shadow: none;
    width: 50px;
    z-index: 100;
    border-radius: 0;
}
.navbar-toggle .icon-bar {
    background: none repeat scroll 0 0 white;
}
.nav > li {
	float: left;
}
.btn {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* border: none; */
}
.navbar-nav {
	margin: 0 0 0 10px;
}
.navbar-nav > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 24px;
}
.navbar-nav > li > .dropdown-menu {
	border-radius: 3px;
	min-width: 223px;
}
.dropdown-menu > li > a {
	color: #707070;
	font-size: 0.875em;
	line-height: 1.7;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
	background-color: #f6f6f6;
	color: #707070;
}
.dropdown-menu > li > a {
	padding-left: 35px;
	-webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
	transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
}
.dropdown-menu > li > a > i {
	position: absolute;
	margin-left: -18px;
	margin-top: 4px;
}
.nav-pills > li {
	float: none;
}
.nav-pills > li > a {
	border-radius: 0;
}


.navbar > .container .navbar-brand {
	background: #ffffff;
	color: #fff;
    font-family: 'Titillium Web',Geneva,sans-serif;
    font-weight: 700;
    width: 220px;
    margin-left: -8px;
    padding: 5px 15px;
}
#logo.navbar-brand > img {
    float: left;
    padding-right: 4px;
    height: 40px;
    margin: 0px 40px;
}
#header-navbar {
    background: #fff;
    border: 0 none;
    border-radius: 0 0 0 0;
    margin: 0;
    min-height: 50px;
    color: #262626;
    -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0, 0.1);
    -moz-box-shadow: 0px 1px 3px 0 rgba(0,0,0, 0.1);
    box-shadow: 0px 1px 3px 0 rgba(0,0,0, 0.1);
    position: relative;
    z-index: 99;
}
#header-navbar .navbar-form .form-group {
	position: relative;
}
#header-navbar .navbar-form .form-control {
	background: #131313;
	color: #707070;
	height: 30px;
	line-height: 30px;
	margin-top: 2px;
	font-size: 0.75em;
}
#header-navbar .navbar-form .nav-search-icon {
	position: absolute;
	color: #707070;
	right: 6px;
    top: 8px;
}
#header-navbar .nav > li > a {
	height: 50px;
}
#header-navbar .nav > li > a > span.count {
	background: none repeat scroll 0 0 #707070;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 9px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 11px;
    width: 14px;
}
#header-navbar .profile-dropdown > a {
	padding-top: 8px;
	padding-bottom: 7px;
	line-height: 35px;
}
#header-navbar .profile-dropdown > a > img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
    float: left;
    height: 35px;
    margin-right: 5px;
    width: 35px;
}
#header-navbar .profile-dropdown > a > span {
	float: left;
	display: block;
	margin-right: 3px;
	font-size: em;
}
#header-nav .form-control {
	border-radius: 0;
	border: 0;
}
#header-navbar .navbar-left .navbar-nav {
	margin-left: 0;
}
#header-navbar .nav > li > a {
	font-size: 0.875em;
	padding-left: 18px;
	padding-right: 18px;
	color: #484848;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#header-navbar .nav > li > a > i,
#sidebar-nav .nav > li > a > i {
	font-size: 1.125em;
}
#sidebar-nav .nav > li > a:focus,
#sidebar-nav .nav .open > a, 
#sidebar-nav .nav .open > a:focus {
	background: inherit;
}
#sidebar-nav .nav > li > a:hover,
#sidebar-nav .nav .open > a:hover {
	background: #DCE1E4;
    
    outline: none;
}
#header-navbar .nav > li > a:hover,
#header-navbar .nav > li > a:focus,
#header-navbar .nav .open > a, 
#header-navbar .nav .open > a:hover, 
#header-navbar .nav .open > a:focus,
.navbar-toggle:hover,
.navbar-toggle:focus, 
.mobile-search.active > .btn {
	background: #245893;
    color: #fff;
}
#header-navbar .nav > li > a:hover,
#header-navbar .nav > li > a:focus,
#header-navbar .nav .open > a, 
#header-navbar .nav .open > a:hover, 
#header-navbar .nav .open > a:focus {
	background-color: #245893;
}
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus,
#sidebar-nav .nav-pills > li.active > a, 
#sidebar-nav .nav-pills > li.active > a:hover, 
#sidebar-nav .nav-pills > li.active > a:focus,
.nav-small #nav-col #sidebar-nav .nav-pills > li.open > a {
	background-color: #1a1d22;
	color: #fff;
	border-left-color: #3498db;
}
#header-navbar .nav > li .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
#header-navbar .nav a:hover .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.mobile-search {
	overflow: hidden;
}
.mobile-search > a.btn {
	float: right;
}
.drowdown-search {
	background: #FFFFFF;
    display: block;
    left: 168px;
    padding: 4px 0;
    position: absolute;
    top: 0;
    -webkit-transition: left 0.25s ease-out 0s;
    transition: left 0.25s ease-out 0s;
    width: 0;
    z-index: 1;
    overflow: hidden;
}
.drowdown-search form .form-group {
	position: relative;
	margin: 0 15px;
}
.drowdown-search form .form-control {
    background: none repeat scroll 0 0 #FFFFFF;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #344644;
    font-size: 1em;
    font-weight: 400;
    height: 42px;
    line-height: 42px;
    padding-left: 5px;
    padding-right: 26px;
}
.drowdown-search form .nav-search-icon {
	color: #344644;
    font-size: 1.2em;
    position: absolute;
    right: 5px;
    top: 13px;
    cursor: pointer;
}
.drowdown-search form .form-control::-webkit-input-placeholder { /* WebKit browsers */
    color: #344644;
}
.drowdown-search form .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #344644;
}
.drowdown-search form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #344644;
}
.drowdown-search form .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #344644;
}
.mobile-search.active {
	width: 220px;
}
.mobile-search.active .drowdown-search {
	width: 220px;
	left: 0;
}
@media (min-width: 992px) {
	#logo.navbar-brand > img.normal-logo.logo-white {
		display: block;
	}
	#logo.navbar-brand > img.normal-logo.logo-black {
		display: none;
	}
}
@media (max-width: 991px) {
	#logo.navbar-brand > img.normal-logo.logo-white {
		display: none;
	}
	#logo.navbar-brand > img.normal-logo.logo-black {
		display: block;
	}
	.navbar > .container .navbar-brand {
		background: transparent;
		color: #262626;
	}
	.mobile-search {
		position: inherit !important;
		overflow: visible;
	}
	.drowdown-search {
	    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	    display: block;
	    left: 0;
	    padding: 10px 0;
	    top: 50px;
	    width: 100%;
	    display: none;
	    -webkit-transition: none;
	    transition: none;
	}
	.drowdown-search form .form-control {
	    font-size: 1.6em;
	    font-weight: 600;
	}
	.drowdown-search form .nav-search-icon {
	    font-size: 1.8em;
	    right: 15px;
	    top: 8px;
	}
	.mobile-search.active {
		width: auto;
	}
	.mobile-search.active .drowdown-search {
		display: block;
		width: 100%;
		left: 0;
	}
}
@media (max-width: 767px) {
	#logo.navbar-brand > img {
		height: 25px;
	}
	.navbar > .container .navbar-brand {
		padding-top: 12px;
		padding-top: 12.5px;
	}
}

.navbar-nav > li > .dropdown-menu.notifications-list {
	min-width: 320px;
	padding-bottom: 0;
	padding-top: 0;
	margin-top: 8px;
	color: #707070;
	margin-left: -265px;
}
.notifications-list .item-header {
	font-size: 0.875em;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}
.notifications-list .item {
	border-top: 1px solid #f6f6f6;
    line-height: 1.4;
    padding-bottom: 0;
    padding-top: 0;
    clear: both;
}
.notifications-list .item a {
    clear: both;
    white-space: normal;
    padding-bottom: 8px;
    padding-top: 8px;
}
.notifications-list .item > a > i {
	color: #e74c3c;
}
.notifications-list .item a .content {
	
}
.notifications-list .item a .time {
	color: #245893;
	margin-left: 10px;
	position: absolute;
    right: 13px;
    white-space: normal !important;
}
.notifications-list .item a .time i {
	margin-right: 3px;
}
.notifications-list .item-footer {
	background: #245893;
    padding-bottom: 0;
    padding-top: 0;
}
.notifications-list .item-footer a {
	padding: 8px 20px;
    text-align: center;
    -webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
    color: #fff;
}
.notifications-list .item-footer a:hover,
.notifications-list .item-footer a:focus {
	background-color: #245893;
	color: #fff;
}
.notifications-list .pointer {
    height: 12px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 21px;
    top: -12px;
    width: 12px;
}
.notifications-list .pointer .pointer-inner {
	position: relative;
}
.notifications-list .pointer .arrow {
	border-color: transparent transparent #FFFFFF;
    border-style: solid;
    border-width: 6px;
    cursor: pointer;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1002;
}
.notifications-list .pointer .arrow-border {
    border-color: transparent transparent rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 7px;
    cursor: pointer;
    left: -1px;
    position: absolute;
    top: -2px;
    z-index: 1001;
}
.messages-list .item.first-item {
	border-top: 0 !important;
}
.messages-list .item > a {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 25px;
	-webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
	transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
}
.messages-list .item > a > img {
	position: absolute;
	margin-top: 10px;
}
.messages-list .item > a > .content {
	display: block;
    padding-left: 50px;
    padding-top: 5px;
}
.messages-list .item > a > .content .content-headline {
	color: #605F5F;
    display: block;
    font-weight: 600;
}
.messages-list .item > a > .content .content-text {
	display: block;
    line-height: 1.4;
}

#col-left {
    position: relative;
    color: #003940;
    height: 100%;
}
#col-left a {
	color: #e1e1e1;
}
#col-left a:hover,
#col-left .nav-active a.nav-link,
#col-left a.active {
	color: #fff;
}
#nav-col {
	padding: 0;
	z-index: 100;
	position: absolute;
	background: #E8EBF2;
	width: 220px;
	border-right: 1px solid #DCE1E4;
}
#sidebar-nav {
	max-height: 100%;
	padding-left: 0;
	padding-right: 0;
}
#sidebar-nav .nav > li {
	margin: 0;
	/* font-size: 0.875em;
	font-weight: 600; */
	border-bottom: 1px solid #DCE1E4;
}
#sidebar-nav .nav > li > a {
	color: #16191C;
	height: 44px;
    line-height: 28px;
    -webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
    overflow: hidden;
    padding: 8px 15px 8px 20px;
    border-left: 4px solid transparent;
}
#sidebar-nav .nav > li > a:hover {
	border-left-color: #274884;
}
#sidebar-nav .nav > li.open > a {
	border-bottom-color: #252525;
	outline: none;
	text-decoration: none;
}
#sidebar-nav .nav > li > a > i {
	position: absolute;
	margin-top: 6px;
}
#sidebar-nav .nav > li > a:hover > i {
	color: #274884;
}
#sidebar-nav .nav > li > a > span {
    padding-left: 35px;
    font-size: 0.875em;
}
#sidebar-nav .nav > li > a > span.label {
	font-size: 0.75em;
    margin-top: 5px;
    padding: 4px 0.6em;
}
#sidebar-nav .nav > li > a > span.label.label-circle {
	margin-right: 5px;
}
#sidebar-nav .nav li > a.dropdown-toggle > .drop-icon {
	color: #868b98;
    font-size: 12px;
    margin-top: -6px;
    position: absolute;
    right: 25px;
    top: 50%;
    -webkit-transition: -webkit-transform 0.2s ease-in-out 0.1s;
    transition: transform 0.2s ease-in-out 0.1s;
}
#sidebar-nav .nav li.open > a.dropdown-toggle > .drop-icon,
#sidebar-nav .nav li.active > a.dropdown-toggle > .drop-icon {
	color: #fff;
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
}
#sidebar-nav .nav li .submenu {
	display: none;
	padding: 5px 0;
	margin: 0;
	list-style: none;
}
#sidebar-nav .nav li.active > .submenu {
	display: block;
}
#sidebar-nav .nav li .submenu > li {
	position: relative;
}
#sidebar-nav .nav li .submenu > li > a {
    display: block;
    font-size: 0.875em;
    line-height: 38px;
    padding-left: 66px;
    outline: none;
    text-decoration: none;
    -webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
    color: #16191C;
}
#sidebar-nav .nav li .submenu > li:first-of-type > a {
	border-top: 0;
}
#sidebar-nav .nav li .submenu > li:last-of-type > a {
	
}
#sidebar-nav .nav li .submenu > li > a:hover,
#sidebar-nav .nav li .submenu > li > a.active {
	text-decoration: none;
	background: #DCE1E4;
	/* box-shadow: 0 -1px 0 0 #8bf2e6 inset; */
}
.navbar-nav .open .dropdown-menu {
	background-color: #FFFFFF;
	border: none;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	left: 0;
	position: absolute;
}
#sidebar-nav .nav > .open > .submenu .submenu {
	display: none;
}
#sidebar-nav .nav > .open > .submenu > li > a {
    position: relative;
}
#sidebar-nav .nav > .open > .submenu > .open > a {
	background: inherit;
    border-bottom-color: #171717;
    -webkit-box-shadow: 0 -1px 0 #171717 inset;
    box-shadow: 0 -1px 0 #171717 inset;
}
#sidebar-nav .nav > .open > .submenu > li > .submenu {
	background-color: #171717;
}
#sidebar-nav .nav > .open > .submenu > li > .submenu > li a:hover {
	/* background-color: #232323; */
	color: #3498db;
}
#sidebar-nav .nav > .open > .submenu > li > .submenu a {
	border-bottom: 0 none;
    border-top: 0 none;
    padding-left: 85px;
}
#sidebar-nav .nav > .open > .submenu > li > .submenu a:before {
	content: "\f111";
    display: inline;
    font-family: FontAwesome;
    font-size: 4px;
    font-style: normal;
    font-weight: normal;
	margin-left: -10px;
    margin-top: 1px;
    position: absolute;
}
#sidebar-nav .nav > .open > .submenu > li > a.dropdown-toggle > .drop-icon {
	font-size: 10px;
	margin-top: -5px;
}
#sidebar-nav .nav > .open > .submenu > .open > a.dropdown-toggle > .drop-icon {
	
}
#user-left-box {
	padding: 20px 15px;
}
#user-left-box img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    float: left;
    width: 80px;
}
#user-left-box .user-box {
	color: #16191C;
    float: left;
    padding-left: 15px;
    padding-top: 11px;
}
#user-left-box .user-box > .name {
	display: block;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.2;
}
#user-left-box .user-box > .status {
	display: block;
    font-size: 0.75em;
    padding-top: 3px;
}
#user-left-box .user-box > .status > i {
	color: #2ecc71;
	margin-right: 4px;
}
@media (min-width: 992px) {
	.nav-small #nav-col {
		width: 64px;
	}
	.nav-small #content-wrapper {
		margin-left: 64px;
	}
	.nav-small #nav-col #user-left-box {
		display: none;
	}
	.nav-small #nav-col #sidebar-nav .nav > li > a > span {
		display: none;
	}
	.nav-small #nav-col #sidebar-nav .nav li > a.dropdown-toggle > .drop-icon {
		display: none;
	}
	.nav-small #nav-col #sidebar-nav .nav .submenu > li > a.dropdown-toggle > .drop-icon {
		display: block;
	}
	.nav-small #nav-col #sidebar-nav .nav li .submenu {
		left: 64px;
	    position: absolute;
	    top: 0;
	    width: 210px;
	}
	.nav-small #nav-col #sidebar-nav .nav li .submenu > li > a {
		padding-left: 28px;
	}
	.nav-small #nav-col #sidebar-nav .nav > .open > .submenu > li > .submenu {
		left: auto;
	    position: relative;
	    top: auto;
	    width: 100%;
	}
	.nav-small #nav-col #sidebar-nav .nav > .open > .submenu > li > .submenu a {
		padding-left: 48px
	}
}
@media (max-width: 991px) {
	#nav-col {
		position: relative;
		width: auto;
	}
	.navbar-toggle {
		display: block;
	}
	
	#sidebar-nav.navbar-collapse {
		max-height: 336px;
	}
	#sidebar-nav .nav > li > a {    
	
	}
}
@media (max-width: 767px) {
	#logo {
		width: 150px;
		padding-left: 0;
		font-size: 1em;
		margin-left: 6px;
	}
	#logo img {
		height: 19px;
	}
}
@media (max-width: 400px) {
	#header-navbar .container {
		padding: 0;
	}
	#logo {
		width: auto;
		margin-left: 15px;
	}
	#logo span {
		display: none;
	}
	.profile-dropdown .dropdown-toggle {
	    padding-left: 5px !important;
	    padding-right: 5px !important;
	}
	#header-nav .nav {
		margin-left: 0;
	}
}


#content-wrapper {
	background: #e7ebee;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	min-height: 1200px;
	padding: 15px 15px 35px 15px;
	margin-left: 220px;
}
#content-wrapper > .row {
	opacity: 1;

	/* -webkit-transition: opacity 0.8s ease-in-out 0s;
	-moz-transition: opacity 0.8s ease-in-out 0s;
	-o-transition: opacity 0.8s ease-in-out 0s;
	-ms-transition: opacity 0.8s ease-in-out 0s;
	transition: opacity 0.8s ease-in-out 0s; */
}
.main-box {
	background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    /* overflow: hidden; */
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	padding: 20px;
}
.main-box h2 {
    font-size: 1.3em;
    line-height: 29px;
    margin: 0;
    padding: 0;
}
.main-box.no-header {
	padding-top: 20px;
}
.main-box .main-box-header {
    min-height: 50px;
    padding: 10px 20px;
}
.main-box .main-box-header.with-border {
	border-bottom: 1px solid #ecf0f1;
}
.main-box .main-box-body {
	padding: 0 20px 20px 20px;
}
@media (max-width: 991px) {
	#content-wrapper {
		margin-left: 0;
	}
}
@media (max-width: 767px) {
	#content-wrapper {
		padding: 10px 8px 0 8px;
	}
	.main-box {
		margin-bottom: 10px;
	}
}
@media (max-width: 420px) {
	#content-wrapper {
		padding: 5px 5px 0 5px;
	}
	.main-box {
		
	}
	.main-box h2 {
		margin-bottom: 5px;
	}
}


#footer-bar {
	background: #fff;
    bottom: 0;
    font-size: 0.8em;
    height: 36px;
    line-height: 36px;
    margin-left: -15px;
    margin-right: -15px;
    position: absolute;
    width: 100%;
}
#footer-copyright {
	text-align: center;
	margin: 0;
}
#footer-copyright a {
	
}
#footer-copyright a:hover {
	
}
@media (max-width: 767px) {
	#footer-bar {
		margin-left: -8px;
		margin-right: -8px;
	}
}
@media (max-width: 420px) {
	#footer-bar {
		margin-left: -5px;
		margin-right: -5px;
	}
}


/* OTHER */
.the-icons {
	font-size: 0.875em;
	line-height: 2;
}
.the-icons .glyphicon {
	width: 30px;
	text-align: center;
}
.tabs-wrapper .nav-tabs {
    margin-bottom: 15px;
}
.tabs-wrapper .tab-content {
	margin-bottom: 20px;
    padding: 0 10px;
}
.dropdown-example ul.dropdown-menu {
	display: block;
}
svg {
	width: 100% !important;
}

.breadcrumb {
	background: none;
	margin-bottom: 0;
}
.breadcrumb > li {
	text-transform: uppercase;
	color: #262626;
	margin-left: 8px;
}
.breadcrumb > li span {
	padding-left: 8px;
}
.breadcrumb > li a {
	color: #262626;
}
.breadcrumb > li + li:before {
	color: #262626;
	font-family: FontAwesome;
	content: "\f105";
}
.breadcrumb > .active {
    font-weight: 600;
    text-transform: none;
	color: #262626;
}
.breadcrumb > li:first-child {
	margin-left: 0;
}

/* FIXED ELEMENTS */
.fixed-header #header-navbar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
.fixed-header #page-wrapper {
	padding-top: 50px;
}
.fixed-footer #footer-bar {
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 999;
}
.fixed-footer #content-wrapper {
	padding-bottom: 36px
}
@media (min-width: 992px) {
	.fixed-leftmenu #nav-col {
		position: fixed;
		height: 100%;
	}
	.fixed-leftmenu.fixed-footer #nav-col {
		padding-bottom: 36px;
	}
	.fixed-leftmenu.fixed-header #nav-col {
		padding-bottom: 50px;
	}
	.fixed-leftmenu.fixed-header.fixed-footer #nav-col {
		padding-bottom: 86px;
	}
}
@media (max-width: 991px) {
	.fixed-header #nav-col {
		position: fixed;
		width: 100%;
	}
}

/*********************/
/* Revolution slider */
/*********************/
/* General */
.bannercontainer {
    width:100%;
    position:relative;
    padding:0;
    z-index:9;
}
.banner{
    width:100%;
    position:relative;
}
.banner ul{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.tp-caption.b-big-bold{
    font-weight:600;
    font-size:50px;
    line-height:65px;
}
.tp-caption.b-big-thin-transparent{
    font-weight:300;
    font-size:35px;
    line-height:50px;
    padding:0px 10px;
    background:rgba(0,0,0,0.5);
}
.tp-caption.b-medium-bold-grey{
    color:#999;
    font-weight:600;
    font-size:30px;
    line-height:45px;
}
.tp-caption.b-medium-thin-grey{
    color:#888;
    font-weight:300;
    font-size:30px;
    line-height:45px;
}
.tp-caption.b-small-bold-grey{
    font-size:22px;
    line-height:37px;
    color:#999;
}
.tp-caption.b-small-para{
    font-size:13px;
    line-height:28px;
    font-weight:400;
}
.tp-caption.b-medium-back{
    font-size:22px;
    line-height:37px;
    color:#fff;
    padding:5px 15px;
}
.tp-caption.b-button a{
    display:inline-block;
    padding:5px 18px;
    color:#fff;
}
/* Revolution slider one */
.r-slider .banner{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
/* Heading #2 */
.block-heading-two{
    margin: 0 0px 15px -8px;
}
.block-heading-two h3{
    font-size:18px;
    line-height:36px;
    font-weight:600;
    padding: 0px 10px 0px 0px;
    margin-bottom:10px;
    margin-top: 0;
    border-bottom:1px solid #eee;
}
.block-heading-two h3 span{
    padding-bottom:11px;
    border-bottom:3px solid;
}
/* List styles */
.list-1,
.list-2,
.list-3,
.list-4,
.list-5,
.list-6,
.list-7,
.list-8,
.list-9{
    list-style-type:none;
    padding-left:20px;
}
.list-1 li:before{
    content: "\f069"; /* Asterisk */
    font-family: 'FontAwesome';
    float: left;
    margin-left: -20px;
}
.list-2 li:before{
    content: "\f00c"; /* Check */
    font-family: 'FontAwesome';
    float: left;
    margin-left: -20px;
}
.list-3 li:before{
    content: "\f046"; /* Check-Square-o */
    font-family: 'FontAwesome';
    float: left;
    margin-left: -20px;
}
.list-4 li:before{
    content: "\f067"; /* Plus */
    font-family: 'FontAwesome';
    float: left;
    margin-left: -20px;
}
.list-5 li:before{
    content: "\f005"; /* Star */
    font-family: 'FontAwesome';
    float: left;
    margin-left: -20px;
}
.list-6 li:before{
    content: "\f101"; /* Angle Double Right */
    font-family: 'FontAwesome';
    float: left;
    margin-left: -20px;
}
.list-7 li:before{
    content: "\f0a4"; /* hand-o-right */
    font-family: 'FontAwesome';
    float: left;
    margin-left: -20px;
}
.list-8 li:before{
    content: "\f0da"; /* caret-right */
    font-family: 'FontAwesome';
    float: left;
    margin-left: -20px;
}
.list-9 li:before{
    content: "\f138"; /* chevron-circle-right */
    font-family: 'FontAwesome';
    float: left;
    margin-left: -20px;
}
/* Shapes */
/* Square */
.square-1 {
    display:inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
}
.square-2 {
    display:inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
}
.square-3 {
    display:inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
}
.square-4 {
    display:inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}
.square-5 {
    display:inline-block;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
}
/* Circle */
.circle-1 {
    display:inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
}
.circle-2 {
    display:inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 100%;
}
.circle-3 {
    display:inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
}
.circle-4 {
    display:inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
}
.circle-5 {
    display:inline-block;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
}
/* Border radius */
.sharp {
    border-radius: 0px !important;
}
.rounded-1 {
    border-radius: 2px !important;
}
.rounded-2 {
    border-radius: 4px !important;
}
.rounded-3 {
    border-radius: 6px !important;
}
.rounded-4 {
    border-radius: 10px !important;
}
.rounded-5 {
    border-radius: 100% !important;
}
/* Dividers */
.divider-1{
    height:8px;
    background:url("../../img/dividers/1.png") repeat-x;
    background-size:20px 20px;
    margin:20px 0px;
}
.divider-2{
    height:7px;
    background:url("../../img/dividers/2.png") repeat-x;
    background-size:7px 7px;
    margin:20px 0px;
}
.divider-3{
    height:10px;
    background:url("../../img/dividers/3.png") repeat-x;
    background-size:10px 10px;
    margin:20px 0px;
}
.divider-4{
    border-bottom:1px dashed #d4d4d4;
    margin:20px 0px;
}
.divider-5{
    border-bottom:1px dotted #d4d4d4;
    margin:20px 0px;
}
.divider-6{
    border-top:1px solid #d4d4d4;
    border-bottom:1px solid #d4d4d4;
    padding:2px;
    margin:20px 0px;
}
.divider-7{
    border-top:1px dashed #d4d4d4;
    border-bottom:1px dashed #d4d4d4;
    padding:2px;
    margin:20px 0px;
}
.divider-8{
    border-top:1px dotted #d4d4d4;
    border-bottom:1px dotted #d4d4d4;
    padding:2px;
    margin:20px 0px;
}
.divider-9{
    background:#f5f5f5;
    height:6px;
    margin:20px 0px;
}
.divider-10{
    border-top:1px solid #f1f1f1;
    border-bottom:1px solid #e4e4e4;
    background:#f8f8f8;
    box-shadow:0px 2px 5px rgba(0,0,0,0.05);
    padding:2px;
    margin:20px 0px;
}
/* CTA Blocks */
/* CTA  One */
.cta-one .cta-one-content{
    border:1px solid #eee;
    padding:20px 25px;
    border-radius:5px;
}
.cta-one .cta-one-content ul{
    margin:0px;
    padding:0px;
    padding-left:15px;
}
.cta-one .btn{
    text-align:center;
    margin-top:15px;
}
/* CTA Two */
.cta-two .cta-two-content{
    border:1px solid #eee;
    padding:20px 25px;
    border-radius:5px;
}
.cta-two .btn{
    margin-top:15px;
}
@media (max-width:767px){
    .cta-two{
        text-align:center;
    }
}
/* CTA Three */
.cta-three .cta-three-content{
    max-width:1000px;
    margin:5px auto;
}
.cta-three .cta-three-content h4{
    font-size:22px;
    line-height:37px;
    font-weight:400;
}
@media (max-width:991px){
    .cta-three .cta-three-content{
        text-align:center;
    }
    .cta-three .btn{
        margin-top:10px;
    }
}
/* CTA Four */
.cta-four .cta-four-content{
    text-align:center;
}
.cta-four .cta-four-content p{
    margin:5px auto 10px auto;
    max-width:700px;
}
/* CTA Five */
.cta-five .cta-five-content{
    text-align:center;
}
.cta-five .cta-five-content span i{
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    border-radius:80px;
    font-size:25px;
    color:#fff;
    margin-bottom:10px;
}
.cta-five .cta-five-content p{
    margin:5px auto 10px auto;
    max-width:700px;
}
.cta-five .cta-five-content input{
    border:1px solid #ccc;
}
@media (max-width:767px){
    .cta-five form{
        max-width:350px;
        margin:10px auto;
    }
}
/* CTA Six  */
.cta-six{
    background:#fff url("../../img/backgrounds/2.jpg") repeat;
    background-size:cover;
    background-attachment:fixed;
    padding:70px 0px;
}
.cta-six .cta-six-content{
    max-width:1000px;
    border:2px solid rgba(255,255,255,0.2);
    border-radius:8px;
    padding:50px 20px 40px 20px;
    margin:0px auto;
    text-align:center;
    background:rgba(0,0,0,0.1);
}
.cta-six .cta-six-content h4{
    font-size:22px;
    font-weight:400;
    display:inline-block;
    color:#fff;
}
.cta-six .btn{
    background:rgba(0,0,0,0.1);
    border:1px solid rgba(255,255,255,0.4);
    color:#fff;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.cta-six .cta-six-content a.btn:hover{
    background:rgba(255,255,255,0.3);
}
@media (max-width:991px){
    .cta-six .cta-three-content{
        text-align:center;
    }
    .cta-six .btn{
        margin-top:10px;
    }
}
/* CTA Seven  */
.cta-seven .cta-seven-content{
    text-align:center;
}
.cta-seven  li a i{
    width:80px;
    height:80px;
    line-height:80px;
    border-radius:100px;
    text-align:center;
    margin:0px 8px;
    font-size:30px;
}
.cta-seven h4{
    font-size:38px;
    margin-top:15px;
    font-weight:300;
    line-height:53px;
    margin-bottom:15px;
}
@media (max-width:767px){
    .cta-seven li a i{
        width:50px;
        height:50px;
        line-height:50px;
        font-size:18px;
        margin:0px 2px;
    }
    .cta-seven h4{
        font-size:28px;
        line-height:43px;
    }
}
/* CTA Eight  */
.cta-eight .cta-eight-content{
    text-align:center;
}
.cta-eight .cta-eight-content h4{
    color:#fff;
    display:inline-block;
    padding:5px 14px;
}
.cta-eight .cta-eight-content h3{
    font-size:42px;
    line-height:57px;
    font-weight:600;
    margin:15px 0px;
}
@media (max-width:767px){
    .cta-eight .cta-eight-content h3{
        font-size:30px;
        line-height:45px;
    }
}
.cta-eight .cta-eight-content p{
    font-size:16px;
    line-height:31px;
    max-width:700px;
    margin:0 auto;
    margin-bottom:20px;
}
.cta-eight .cta-eight-content ul li{
    font-size:30px;
}
@media (max-width:767px){
    .cta-eight .cta-eight-content p{
        font-size:14px;
        line-height:29px;
    }
    .cta-eight .cta-eight-content ul li{
        font-size:20px;
    }
}
.cta-eight .cta-eight-content ul li a{
    color:#777;
}
.cta-eight .cta-eight-content ul li small{
    width:40px;
    height:40px;
    line-height:40px;
    border-radius:100px;
    text-align:center;
    display:inline-block;
    color:#fff;
    font-weight:bold;
    font-size:16px;
    position:relative;
    top:-5px;
}
@media (max-width:767px){
    .cta-eight .cta-eight-content ul li small{
        width:30px;
        height:30px;
        line-height:30px;
        font-size:13px;
    }
}
/* Text color classes */
.white {
    color: #ffffff !important;
}
a.white {
    color: #ffffff !important;
}
a.white:hover,
a.white:focus {
    color: #ffffff !important;
}
.grey {
    color: #eeeeee !important;
}
a.grey {
    color: #eeeeee !important;
}
a.grey:hover,
a.grey:focus {
    color: #d5d5d5 !important;
}
.black {
    color: #666666 !important;
}
a.black {
    color: #666666 !important;
}
a.black:hover,
a.black:focus {
    color: #4d4d4d !important;
}
.red {
    color: #ed5441 !important;
}
a.red {
    color: #ed5441 !important;
}
a.red:hover,
a.red:focus {
    color: #e52d16 !important;
}
.green {
    color: #51d466 !important;
}
a.green {
    color: #51d466 !important;
}
a.green:hover,
a.green:focus {
    color: #30c247 !important;
}
.lblue {
    color: #32c8de !important;
}
a.lblue {
    color: #32c8de !important;
}
a.lblue:hover,
a.lblue:focus {
    color: #1faabe !important;
}
.blue {
    color: #609cec !important;
}
a.blue {
    color: #609cec !important;
}
a.blue:hover,
a.blue:focus {
    color: #3280e7 !important;
}
.orange {
    color: #f8a841 !important;
}
a.orange {
    color: #f8a841 !important;
}
a.orange:hover,
a.orange:focus {
    color: #f69110 !important;
}
.yellow {
    color: #fcd419 !important;
}
a.yellow {
    color: #fcd419 !important;
}
a.yellow:hover,
a.yellow:focus {
    color: #dfb803 !important;
}
.purple {
    color: #cb79e6 !important;
}
a.purple {
    color: #cb79e6 !important;
}
a.purple:hover,
a.purple:focus {
    color: #ba4ede !important;
}
.rose {
    color: #ff61e7 !important;
}
a.rose {
    color: #ff61e7 !important;
}
a.rose:hover,
a.rose:focus {
    color: #ff2edf !important;
}
.brown {
    color: #d08166 !important;
}
a.brown {
    color: #d08166 !important;
}
a.brown:hover,
a.brown:focus {
    color: #c4613f !important;
}
/* Background color classes */
.bg-white {
    background-color: #ffffff !important;
}
.bg-grey {
    background-color: #eeeeee !important;
}
.bg-black {
    background-color: #666666 !important;
}
.bg-red {
    background-color: #ed5441 !important;
}
.bg-green {
    background-color: #51d466 !important;
}
.bg-lblue {
    background-color: #32c8de !important;
}
.bg-blue {
    background-color: #609cec !important;
}
.bg-orange {
    background-color: #f8a841 !important;
}
.bg-yellow {
    background-color: #fcd419 !important;
}
.bg-purple {
    background-color: #cb79e6 !important;
}
.bg-rose {
    background-color: #ff61e7 !important;
}
.bg-brown {
    background-color: #d08166 !important;
}
/* Background Hover color */
.bg-white-hover:hover {
    background-color: #ffffff !important;
}
.bg-grey-hover:hover {
    background-color: #eeeeee !important;
}
.bg-black-hover:hover {
    background-color: #666666 !important;
}
.bg-red-hover:hover {
    background-color: #ed5441 !important;
}
.bg-green-hover:hover {
    background-color: #51d466 !important;
}
.bg-lblue-hover:hover {
    background-color: #32c8de !important;
}
.bg-blue-hover:hover {
    background-color: #609cec !important;
}
.bg-orange-hover:hover {
    background-color: #f8a841 !important;
}
.bg-yellow-hover:hover {
    background-color: #fcd419 !important;
}
.bg-purple-hover:hover {
    background-color: #cb79e6 !important;
}
.bg-rose-hover:hover {
    background-color: #ff61e7 !important;
}
.bg-brown-hover:hover {
    background-color: #d08166 !important;
}
/* Border class */
/* Border color */
.br-white {
    border: 1px solid #ffffff;
}
.br-grey {
    border: 1px solid #eeeeee;
}
.br-black {
    border: 1px solid #666666;
}
.br-red {
    border: 1px solid #ed5441;
}
.br-green {
    border: 1px solid #51d466;
}
.br-lblue {
    border: 1px solid #32c8de;
}
.br-blue {
    border: 1px solid #609cec;
}
.br-orange{
    border: 1px solid #f8a841;
}
.br-yellow {
    border: 1px solid #fcd419;
}
.br-purple {
    border: 1px solid #cb79e6;
}
.br-rose {
    border: 1px solid #ff61e7;
}
.br-brown {
    border: 1px solid #d08166;
}
/* Border size */
.br-size-1 {
    border-width: 2px !important;
}
.br-size-2 {
    border-width: 4px !important;
}
.br-size-3 {
    border-width: 6px !important;
}
.br-size-4 {
    border-width: 10px !important;
}
.br-size-5 {
    border-width: 15px !important;
}
/* Border style */
.br-style-1 {
    border-style: dotted !important;
}
.br-style-2 {
    border-style: dashed !important;
}
.br-style-3 {
    border-style: double !important;
    border-width:3px !important;
}
/* Border position */
.br-no-left {
    border-left: 0px !important;
}
.br-no-right {
    border-right: 0px !important;
}
.br-no-top {
    border-top: 0px !important;
}
.br-no-bottom {
    border-bottom: 0px !important;
}

