// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'fullcalendar';

.fc-event-skin {
    background-color: #5bd457;
    border-color: #5bd457;
    color: #FFFFFF;
}
.fc-event-tid-1,
.fc-event-tid-1 .fc-event-skin,
.fc-event-tid-1 .fc-event-time,
.fc-event-tid-1 a {
  color: #fff;
  background-color: #ff4500;
}
.fc-event-tid-2,
.fc-event-tid-2 .fc-event-skin,
.fc-event-tid-2 .fc-event-time,
.fc-event-tid-2 a {
  color: #fff;
  background-color: #87cefa;
}
.fc-event-tid-3,
.fc-event-tid-3 .fc-event-skin,
.fc-event-tid-3 .fc-event-time,
.fc-event-tid-3 a {
  color: #fff;
  background-color: #32cd32;
}